<div class="formulario"  style="margin:40px;padding: 20px; border:2px solid grey; border-radius: 15px">
    <h1 style="color:#0062AD; font-size: 2rem">Consulta Expedientes electrónicos</h1>
    <hr style="height: 5px; background-color:#0062AD; margin: 10px 0;">
  
    <!--<hr>-->
    <div class="panel-body">
      <div class="example-box-wrapper">
        <form>
      <!--primera fila-->
          <div class="form-group row pad-bot">
            <div class="col-md-4">
              <label for="rutbenef">RUT Beneficiario</label>
              <!--<input class="form-control" type="text" (keyup)="formateaRut(''+rutbenef.value, rutbenef.id)" maxlength="12"-->
              <input class="form-control" type="text" maxlength="12"
                     id="rutbenef" name="rutbenef" #rutbenef placeholder="12.345.678-9"
                     style="width: auto;margin-bottom: 0px;" title="Escribir RUN en con puntos y guión. 12.345.678-9">
            </div>
  
            <div class="col-md-4">
              <label for="ruttutor">Estado Expediente (Select)</label>
              <!--<input class="form-control" type="text" (keyup)="formateaRutTutor(ruttutor.value, ruttutor.id)" maxlength="12"-->
              <input class="form-control" type="text" maxlength="12"
                     id="ruttutor" name="ruttutor" #ruttutor placeholder="12.345.678-9"
                     style="width: auto;margin-bottom: 0px;"  title="Escribir RUN en con puntos y guión. 12.345.678-9">
            </div>
  
            <div class="col-md-4">
              <label for="fecsoldesde">Fecha Desde</label>
              <div class="input-group date" id="fdesde">
                <input type="date" class="form-control" id="fecsoldesde" name="fecsoldesde" #fecsoldesde
                     (keydown)="false"/>
              </div>
            </div>
          </div>
  <!-- segunda fila -->
          <div class="form-group row pad-bot">
            <div class="col-md-4">
              <label for="rutbenef">RUT Causante Familiar</label>
              <!--<input class="form-control" type="text" (keyup)="formateaRut(''+rutbenef.value, rutbenef.id)" maxlength="12"-->
              <input class="form-control" type="text" maxlength="12"
                     id="rutbenef" name="rutbenef" #rutbenef placeholder="12.345.678-9"
                     style="width: auto;margin-bottom: 0px;" title="Escribir RUN en con puntos y guión. 12.345.678-9">
            </div>
  
            <div class="col-md-4">
              <label for="rutbenef">ID Suseso (Input bloqueado)</label>
              <!--<input class="form-control" type="text" (keyup)="formateaRut(''+rutbenef.value, rutbenef.id)" maxlength="12"-->
              <input class="form-control" type="text" maxlength="12"
                     id="rutbenef" name="rutbenef" #rutbenef placeholder="12.345.678-9"
                     style="width: auto;margin-bottom: 0px;" title="Escribir RUN en con puntos y guión. 12.345.678-9">
            </div>
  
            <div class="col-md-4">
              <label for="fecsoldesde">Fecha Hasta</label>
              <div class="input-group date" id="fdesde">
                <input type="date" class="form-control" id="fecsoldesde" name="fecsoldesde" #fecsoldesde
                     (keydown)="false"/>
              </div>
            </div>
          </div>
  
  
          <div class="form-group row">
            <div class="col-md-12">
              <button class="btn btn-success" type="button" style="cursor: pointer;">Buscar</button>
          </div>
  
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 text-center">
  
              <!-- <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div> -->
            </div>
          </div>
        </form>

     <!---Tabla--->
      <h2 style="color:#0062AD">Listado Control de Expedientes electrónicos</h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="azul"> RUT Beneficiario </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre Beneficiario </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> ID SUSESO </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Entidad Adm. </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!-- Fecha Solicitud Column -->
        <ng-container matColumnDef="fechsolicitud">
          <th mat-header-cell *matHeaderCellDef> Tipo Beneficiario </th>
          <td mat-cell *matCellDef="let element"> {{element.fechsolicitud}} </td>
        </ng-container>

        <!-- Ver Column -->
        <ng-container matColumnDef="ver">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.ver}} </td>
        </ng-container>

        <!-- Expediente Column -->
        <ng-container matColumnDef="expediente">
          <th mat-header-cell *matHeaderCellDef> RUN Empresa </th>
          <td mat-cell *matCellDef="let element"> {{element.expediente}} </td>
        </ng-container>

        <ng-container matColumnDef="nempresa">
            <th mat-header-cell *matHeaderCellDef> Nombre Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.nempresa}} </td>
          </ng-container>

          <ng-container matColumnDef="verlupa">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"><mat-icon class="iconmenu" style="color:#0062AD">find_in_page</mat-icon> {{element.verlupa}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <br>
      <mat-paginator [pageSizeOptions]="[7, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
  
      </div>
    </div>
  </div>
  