<div style="margin:40px 180px;padding: 120px 80px; border:2px solid rgb(121, 110, 110); border-radius: 15px">
    
    <div class="container text-center">
        <div class="row">

          <div class="col-md-6">
            <img src="../../assets/img/xx.png" alt="logo-ips-chile-atiende" class="img-fluid">
          </div>
          <div class="col-md-6">
            <br>
            <p>En este portal los beneficiarios y beneficiarias pueden solicitar la autorización de sus cargas familiares administradas por el instituto de Previsión Social (IPS)
            <p><b>IMPORTANTE PARA TRABAJADORES Y EMPLEADORES :</b>El empleador sólo puede pagar y solicitar devolución al Estado por aquellas cargas autorizadas por el IPS.</p>
          </div>
        </div>
      </div>
    
  </div>
  